<launch>
  <group ns="B01">
    <arg name="MANAGER" value="standalone_nodelet" />
    <node name="point_cloud_concat"
        pkg="nodelet" type="nodelet"
        args="load pcl/PointCloudConcatenateDataSynchronizer $(arg MANAGER)"
        output="screen">
      <rosparam>
        approximate_sync: true
        queue_size: 20
        output_frame: base_link
        input_topics:
          - /up/up_camera/stream/1/cloud
          - /down/down_camera/stream/1/cloud
      </rosparam>
    </node>
  </group>
</launch>
