<launch>
<!--
  <node pkg="tf" type="static_transform_publisher" name="body2ouster"  args="0 0 -0.1143 3.14159 0 3.14159 /base_link /os1_lidar 100"/>
-->

  <arg name="MANAGER" value="standalone_nodelet" />
<!--
  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />
-->
  <node name="point_cloud_concat"
        pkg="nodelet" type="nodelet"
        args="load pcl/PointCloudConcatenateDataSynchronizer $(arg MANAGER)"
	output="screen">
    <rosparam>
      approximate_sync: true
      queue_size: 20
      output_frame: base_link
      input_topics:
        - /up/up_camera/stream/1/cloud
        - /down/down_camera/stream/1/cloud
    </rosparam>
  </node>

</launch>
